.primary {
  color: #F0177B;
}

.light {
  color: #fff;
}

.dark {
  color: #333333;
}

.on-primary {
  background-color: #F0177B;
}

.on-light {
  background-color: #fff;
}

.on-grey {
  background-color: #D8D8D8;
}

.on-dark {
  background-color: #333;
}
