:root {
  --primary: #F0177B;
  --light: #fff;
  --dark: #333;
}

.primary {
  color: var(--primary);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.on-primary {
  background-color: var(--primary);
}

.on-light {
  background-color: var(--light);
}

.on-grey {
  background-color: #D8D8D8;
}

.on-dark {
  background-color: var(--dark);
}

.border-primary {
  border-color: var(--primary);
}

.border-light {
  border-color: var(--light);
}

.border-dark {
  border-color: var(--dark);
}
