/* There Should be a scale of about 5 shadow levels */

.shadow-3 {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.text-over-image {
  text-shadow: 0 0 10px rgba(0,0,0,.3);
}

.darken-bg-interaction:hover,
.darken-bg-interaction:focus {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2)
}

.darken-bg-interaction:active {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4)
}
