/* Based on a minor-third modular scale. i.e. 1.2 */

.scale-xs {
  font-size: 0.694rem;
}

.scale-sm {
  font-size: 0.833rem;
}

.scale-md {
  font-size: 1rem;
}

.scale-lg {
  font-size: 1.2rem;
}

.scale-xl {
  font-size: 1.44rem;
}

.scale-xxl {
  font-size: 1.728rem;
}

.scale-xxxl {
  font-size: 2.074rem;
}

.scale-xxxxl {
  font-size: 2.488rem;
}

.scale-xxxxl {
  font-size: 2.986rem;
}

.max-length {
  max-width: 32em;
}

.bold {
  font-weight: 700;
}

.x-bold {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.sansserif {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}

.decorative {
  font-family: "pupcat", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: .05em;
}
