.root {
  position: relative;
  background-image: url(/layouts/HowItWorks/igrtw-world-simple.png);
  background-repeat: no-repeat;
  background-position: center;
}

.fancyBox {
  composes: px-contain mb-1half from '../../traits/spacing.css';
  composes: scale-xl align-center uppercase from '../../traits/type.css';
  composes: dark from '../../traits/colors.css';
  padding-top: 7.25rem;
}

.content {
  composes: pt-1half from '../../traits/spacing.css';
}

.panels {
  margin-left: 1.5rem;
  display: table;
}

.item {
  width: 25%;
  display: table-cell;
}

@media screen and (max-width: 31.25em) {
  .content {
    scroll-snap-type: mandatory;
    /* older spec implementation */
    scroll-snap-destination: 0% 83%;
    scroll-snap-points-x: repeat(83%);
  }
  .panels {
    width: 350%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }
}

@media screen and (min-width: 31.25em) and (max-width: 62.5em) {
  .content {
    scroll-snap-type: mandatory;
    /* older spec implementation */
    scroll-snap-destination: 0% 80%;
    scroll-snap-points-x: repeat(80%);
  }
  .panels {
    width: 180%;
    padding-right: 0;
    padding-left: 0;
    margin-left: 1.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }
}

@media screen and (max-width: 62.5em) {
  .root {

  }
  .title {
    padding-top: 1.5rem;
  }
  .content {
    padding-bottom: 3rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .item {
    background-color: #fff;
  }
}

@media screen and (min-width: 62.5em) {
  .panels {
    padding-bottom: 1.5rem;
    background-color: #f4f4f4;
    margin-left: -.75rem;
    margin-right: -.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
