.root {
  position: relative;
}

.title {
  composes: px-contain mb-half from '../../traits/spacing.css';
  composes: scale-xl uppercase from '../../traits/type.css';
  composes: light from '../../traits/colors.css';
}

.content {
  composes: pt-1half from '../../traits/spacing.css';
}

.panels {
  composes: px-contain from '../../traits/spacing.css';
  display: table;
}

.item {
  width: 25%;
  display: table-cell;
}

@media screen and (max-width: 31.25em) {
  .root {
    background-image: url(/layouts/Hero/running-girl.jpg);
    background-position: left center;
  }
  .panels {
    width: 360%;
  }
}

@media screen and (min-width: 31.25em) and (max-width: 62.5em) {
  .panels {
    width: 180%;
  }
}

@media screen and (max-width: 62.5em) {
  .root {
    background-color: #333;
  }
  .title {
    padding-top: 1.5rem;
  }
  .content {
    padding-bottom: 3rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .panels {
    padding-right: 1.5rem;
  }
  .item {
    background-color: #fff;
  }
}

@media screen and (min-width: 62.5em) {
  .root {
    margin-top: -5.25rem;
  }
  .panels {
    padding-bottom: 1.5rem;
    background-color: #f4f4f4;
    margin-left: -.75rem;
    margin-right: -.75rem;
  }
}
