.arrow {
  background-image: url('/components/ArrowTitle/arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.root {
  composes: arrow;
  composes: mb-1 ml-n1 pl-1half from '../../traits/spacing.css';
  text-align: center;
  background-position: left;
}

.title {
  composes: arrow;
  composes: mr-n1 pr-1half from '../../traits/spacing.css';
  composes: uppercase scale-lg from '../../traits/type.css';
  display: inline-flex;
  align-items: center;
  position: relative;
  font-family:'Montserrat';
  font-weight: 700;
  height: 3.6rem;
  line-height: 1;
  background-position: right;
}

@media screen and (min-width: 31.25em) {
  .title {
    font-size: 1.44rem;
  }
}
