.root {

}

.header {
  composes: px-contain mb-1 from '../../traits/spacing.css';
}

.title {
  composes: scale-xl uppercase from '../../traits/type.css';
  composes: mb-1 from '../../traits/spacing.css';
}

.tabs {
  composes: px-contain mb-1 from '../../traits/spacing.css';
}

.tabItem {
  composes: mr-half from '../../traits/spacing.css';
  display: inline-block;
}

.tabButton {
  composes: p-quarter from '../../traits/spacing.css';
  composes: primary from '../../traits/colors.css';
  composes: bold from '../../traits/type.css';
  cursor: pointer;
}

.tabButtonActive {
  composes: tabButton;
  composes: light on-primary from '../../traits/colors.css';
}

.quote {
  composes: px-contain py-2 from '../../traits/spacing.css';
}

.quoteText {
  composes: scale-xxl decorative from '../../traits/type.css';
  composes: mb-half from '../../traits/spacing.css';
  composes: primary from '../../traits/colors.css';
  line-height: 1.25;
}

.quoteCite {
  composes: uppercase scale-sm from '../../traits/type.css';
}

@media screen and (max-width: 44em) {
  .root {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 44em) {
  .root {
    margin: 0;
  }
  .header {
    padding: 3rem 1.5rem 1.5rem;
    margin: 0;
  }
  .tabs {
    display: none;
  }
}

@media screen and (min-width: 70em) {
  .header {
    position: absolute;
    width: 33%;
    height: 0;
    padding-bottom: 16.6666%;
    padding-top: 16.6666%;
  }
  .quote {
    position: absolute;
    right: 0;
    width: 33.3333%;
    height: 0;
    margin-top: -33%;
    margin-bottom: 0;
    padding: 16.66% 1.5rem;
  }
}
