.root {
  composes: shadow-half from '../../traits/shadows.css';
  composes: on-light from '../../traits/colors.css';
  max-width: 70em;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
