._components_SimplePage__SimplePage {
  background-image: url('http://everydayhero.github.io/boiler-room/content/john-abbott-2c720ed9df.jpg')
}
body {
  margin: 0;
}

._layouts_Main__Main {
  font-family: Helvetica Nueue, Helvetica, sans-serif;
}
