.root {
  composes: px-contain mx-nhalf from "../../traits/spacing.css";
  composes: on-light from '../../traits/colors.css';
  composes: shadow-3 from '../../traits/shadows.css';
  composes: scale-sm from "../../traits/type.css";
}

.contain {
  composes: px-contain py-half from "../../traits/spacing.css";
  width: 100%;
  display: flex;
  align-items: center;
}

.nav {
  display: none;
}

.cta {
  composes: uppercase from '../../traits/type.css';
  display: flex;
  align-items: center;
  margin-left: auto;
}

.item {
  display: flex;
  align-items: center;
}

.link {
  composes: px-half py-quarter from '../../traits/spacing.css';
  composes: primary from '../../traits/colors.css';
  opacity: .8;
  transition: opacity .2s ease-out;
}

.link:hover {
  opacity: 1;
}

.button {
  composes: link;
  composes: solid-pink from '../../traits/borders.css';
  composes: ml-half from '../../traits/spacing.css';
}

.button:hover {
  color: white;
  background-color: #F0177B;
}

@media screen and (min-width: 41.25em) {
  .nav {
    display: flex;
    align-items: center;
    margin-left: -1.5rem;
  }
}
