.root {
  composes: px-contain mx-nhalf from "../../traits/spacing.css";
  composes: on-light from '../../traits/colors.css';
  composes: shadow-3 from '../../traits/shadows.css';
  composes: scale-sm from "../../traits/type.css";
  position: fixed;
  top: 0;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  width:101%;
  margin: 0 auto;
}

.linkDonate {
  display: none;
}

.contain {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: stretch;
  margin-left: 0;
}

.cta {
  composes: uppercase from '../../traits/type.css';
  display: flex;
  align-items: center;
  margin-left: auto;
}

.item {
  display: flex;
  align-items: center;
}

.ctaLink {
  composes: primary from '../../traits/colors.css';
  padding: .2rem .75rem;
  opacity: .8;
  transition: opacity .2s ease-out;
}

.ctaLink:hover {
  opacity: 1;
}

.button {
  composes: ctaLink;
  composes: solid-pink from '../../traits/borders.css';
}

.button:hover {
  color: white;
  background-color: #F0177B;
}

@media screen and (min-width: 48.25em) {
  .contain {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
    margin-left: -.75rem;
  }
}

.navButton {
  composes: link from '../../traits/type.css';
  composes: px-1 py-half ml-n1 from '../../traits/spacing.css';
  transition: .15s all ease-out;
  position: relative;
  z-index: 1;
  opacity: .9;
}

.navButton:before {
  content:'\f0c9';
  font-family: 'FontAwesome' ;
  padding-right: .5rem;
}


.navButtonActive:before {
  content: '\f00d';
  font-family: 'FontAwesome' ;
  padding-right: .5rem;
}

.navButtonActive {
  composes: navButton;
  composes: light on-primary from '../../traits/colors.css'
}

.navIcon {
  font-size: 3em;
}

.navItems {
  display: block;
}

.navItemsActive {
  composes: navItems;
}

@media (max-width: 48.25em) {
  .navItems {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: calc(1.5 * .5rem) 0;
    background-color: #F0177B;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: .1s all ease-out;
  }
  .navItem > * {
    display: block;
  }
  .navItemsActive {
    visibility: visible;
    opacity: .9;
  }
  .navItem {
    display: block;
    white-space: nowrap;
    padding: calc(1.5 * .25rem) calc(1.5 * .5rem);
    color: #FFF;
  }
}

@media (min-width: 48.25em) {
  .navButton,
  .navButtonActive {
    display: none;
  }
  .navItems {
    display: flex;
    align-items: center;
  }
  .navItems > * + * {
    margin-left: calc(1.5 * .5rem);
  }
}

@media (min-width: 80em) {
  .root {
    width: 1345px;
  }
}

.link {
  composes: light from "../../traits/colors.css";
  composes: px-half py-quarter from "../../traits/spacing.css";
  composes: scale-sm from "../../traits/type.css";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .25s ease-out;
}

@media screen and (max-width: 48.25em) {
  .link {
    display: block;
  }
  .link:hover,
  .link:focus,
  .link:active {
    opacity: .6;
  }
}

@media screen and (min-width: 48.25em) {
  .link {
    color: #333;
    display: inline-block;
  }
  .link:hover,
  .link:focus,
  .link:active {
    color: #F0177B;
  }
}


//Search Modal

.overlay {
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1002;
  color: white;
}

.content {
  height: 100%;
  overflow: auto;
}

.content * + * { margin-top: 1em; }

.overlay :global(.SearchInput) {
  position: relative;
  clear: both;
  margin-top: 1em;
}

.overlay :global(.SearchInput__input) {
  appearance: none;
  display: block;
  font-family: inherit;
  font-size: inherit;
  padding: 0.75em 3em 0.75em 1em;
  color: inherit;
  border: 0.125em solid;
  background-color: transparent;
  display: block;
  margin: 0;
  border-radius: 0.25em;
  width: 100%;
  box-sizing: border-box;
}

.overlay :global(.SearchInput__input:focus) {
  outline: none;
}
.overlay :global(.SearchInput__icon) {
  position: absolute;
  right: 1em;
  top: 0.75em;
  margin: 0;
}

:global(.Overlay__close) {
  display: none;
}

.close {
  padding: 0.5em 0.75em 0.667em;
  float: right;
  margin-bottom: 1em;
}

.closeText, .closeIcon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.closeIcon {
  margin-top: 0.25em;
  margin-right: 0.25em;
}

.overlay :global(.SearchInput__progressSpinner) {
  position: absolute;
  right: 2.5em;
  top: 0.75em;
  margin: 0;
}

.overlay :global(.SearchPagination__counter) {
  float: right;
}

.overlay :global(.SearchPagination__button--left),
.overlay :global(.SearchPagination__button--right) {
  appearance: none;
  color: inherit;
  font-size: 0.8em;
  padding: 0.75em 1em;
  border: 0.125em solid;
  background: transparent;
  border-radius: 0.25em;
  margin: 0;
  margin-right: 0.5em;
  cursor: pointer;
}

.overlay :global(.SearchPagination__button--left:hover),
.overlay :global(.SearchPagination__button--right:hover) {
  background: rgba(255, 255, 255, 0.75);
}

.overlay :global(.SearchPagination__button--left:disabled),
.overlay :global(.SearchPagination__button--right:disabled) {
  opacity: 0.5;
  cursor: normal;
}

.overlay :global(.SearchResult) {
  font-size: 0.9em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  line-height: 1.4em;
  background-color: whitesmoke;
  border-radius: 0.25em;
  color: grey;
  transform: scale(1);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.overlay :global(.SearchResult:after) {
  content: '';
  display: block;
  clear: both;
}

.overlay :global(.SearchResult:hover) {
  background-color: white;
  transform: scale(1.1)
}

.overlay :global(.SearchResult + .SearchResult) {
  margin-top: 0.5em;
}

.overlay :global(.SearchResult * + *) {
  margin-top: 0;
}

.overlay :global(.PageSearchResult__avatar) {
  float: left;
  width: 15%;
}

.overlay :global(.PageSearchResult__avatar img) {
  display: block;
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
  border: thin solid lightgrey;
}

.overlay :global(.PageSearchResult__content),
.overlay :global(.PageSearchResult__actions) {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: calc(15% + 0.8em);
  box-sizing: border-box;
}

.overlay :global(.PageSearchResult__content) { margin: 0; }
.overlay :global(.PageSearchResult__actions) { margin-top: 0.5em; }

.overlay :global(.PageSearchResult__actions span) {
  font-size: 0.8em;
  padding: 0.25em 0.75em 0.3em;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.125em;
  background: grey;
  color: white;
}

.overlay :global(.PageSearchResult__actions span:first-child) {
  border-radius: 0.25em 0 0 0.25em;
}

.overlay :global(.PageSearchResult__actions span:last-child) {
  border-radius: 0 0.25em 0.25em 0;
}

.overlay :global(.PageSearchResult__header) {
  font-weight: bold;
  margin-bottom: 0.25em;
}
