.root {
  composes: px-contain py-2 from '../../traits/spacing.css';
}

.title {
  composes: scale-xxl uppercase from '../../traits/type.css';
  composes: mb-1 from '../../traits/spacing.css';
}

.list {
  composes: mx-nhalf from '../../traits/spacing.css';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  composes: px-half my-half from '../../traits/spacing.css';
  width: 50%;
}

.image {
  composes: shadow-3 from '../../traits/shadows.css';
  display: block;
  transition: transform .15s ease-out;
}

.image:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 31.25em) {
  .item {
    width: 33.3333%;
  }
}

@media screen and (min-width: 53.75em) {
  .item {
    width: 20%;
  }
}
