.root {

}

.title {
  composes: uppercase bold from '../../traits/type.css';
  composes: primary from '../../traits/colors.css';
  composes: mb-quarter from '../../traits/spacing.css';
}

.label {
  composes: hidden from '../../traits/layout.css';
}

.form {
  composes: mb-quarter from '../../traits/spacing.css';
  display: table;
  width: 100%;
}

.input,
.button {
  transition: all .25s ease-out;
}

.input {
  composes: solid-2 from '../../traits/borders.css';
  composes: border-primary from '../../traits/colors.css';
  composes: p-quarter from '../../traits/spacing.css';
  height: 2.25rem;
  display: table-cell;
  width: 100%;
}

.input:focus {
  background-color: #fff;
  color: #333;
}

.formButton {
  display: table-cell;
}

.button {
  composes: bold from '../../traits/type.css';
  composes: light on-primary from '../../traits/colors.css';
  composes: px-half from '../../traits/spacing.css';
  composes: darken-bg-interaction from "../../traits/shadows.css";
  height: 100%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  transition: .25s all ease-out;
}

.description {
  composes: scale-sm from '../../traits/type.css';
}

.descriptionHighlight {
  composes: primary from '../../traits/colors.css';
}
