.root {
  composes: px-contain py-2 from '../../traits/spacing.css';
  composes: light on-dark from '../../traits/colors.css';
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-image: url('/layouts/BringYourBff/background.jpg');
  background-size: cover;
  background-position: right center;
}

.title {
  composes: scale-xl uppercase bold from '../../traits/type.css';
}

.subtitle {
  composes: mb-half from '../../traits/spacing.css';
}

.share {
  composes: max-length from '../../traits/type.css';
}

.input {
  composes: p-half mb-half from '../../traits/spacing.css';
  background-color: rgba(0,0,0,.8);
  display: block;
  resize: none;
  border: 2px solid;
  width: 100%;
  opacity: .8;
  transition: all .25s ease-out;
}

.input:hover,
.input:focus {
  opacity: 1;
}

.input:focus {
  border-color: #F0177B;
}

.buttons {
  composes: align-left from '../../traits/type.css';
}

.button {
  composes: py-quarter px-half mr-half my-1 from '../../traits/spacing.css';
  composes: scale-sm from '../../traits/type.css';
  display: inline-block;
  composes: px-half py-quarter from "../../traits/spacing.css";
  composes: bold from "../../traits/type.css";
  composes: light on-primary from "../../traits/colors.css";
  composes: darken-bg-interaction from "../../traits/shadows.css";
  transition: .25s all ease-out;
}

.button:hover,
.button:focus,
.button:active {
  border-color: transparent;
  background-color: #F0177B;
}

@media screen and (min-width: 31.25em) {
  .button {
    font-size: 1rem;
  }
}
