.root {
  composes: light from "../../traits/colors.css";
  composes: px-half py-quarter from "../../traits/spacing.css";
  composes: scale-sm from "../../traits/type.css";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: color .25s ease-out;
}

.root:hover,
.root:focus,
.root:active {
  color: #F0177B;
}

@media screen and (min-width: 41.25em) {
  .root {
    color: #333;
  }
}
