.root {
  composes: light from "../../traits/colors.css";
  composes: px-half py-quarter from "../../traits/spacing.css";
  composes: scale-sm from "../../traits/type.css";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .25s ease-out;
}

@media screen and (max-width: 48.25em) {
  .root {
    display: block;
  }
  .root:hover,
  .root:focus,
  .root:active {
    opacity: .6;
  }
}

@media screen and (min-width: 48.25em) {
  .root {
    color: #333;
    display: inline-block;
  }
  .root:hover,
  .root:focus,
  .root:active {
    color: #F0177B;
  }
}
