.root {
  composes: uppercase scale-lg from '../../traits/type.css';
  position: relative;
  composes: mb-1 from '../../traits/spacing.css';
}

.heading {
  opacity: 0;
  line-height: 1.25;
  animation-name: fade-in-out;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.heading-1 {
  composes: heading;
}

.heading-2,
.heading-3 {
  position: absolute;
  top: 0;
}

.heading-2 {
  composes: heading;
  animation-delay: 5s;
}

.heading-3 {
  composes: heading;
  animation-delay: 10s;
}

@keyframes fade-in-out {
  0%, 50% {
    opacity: 0;
  }
  16.66%, 33.33% {
    opacity: 1;
  }
}
