.root {
  composes: on-grey from '../../traits/colors.css';
  composes: py-2 from '../../traits/spacing.css';
  position: relative;
}

.header,
.content {
  composes: px-contain from '../../traits/spacing.css';
}

.content {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.title {
  composes: scale-xl uppercase from '../../traits/type.css';
  composes: mb-1 from '../../traits/spacing.css';
}

.intro,
.tagline {
  composes: mb-1 from '../../traits/spacing.css';
  flex-shrink: 1;
}

.tagline {
  composes: decorative scale-xxl from '../../traits/type.css';
  composes: primary from '../../traits/colors.css';
}

@media screen and (min-width: 41.25em) {
  .lead {
    display: flex;
    flex-shrink: 1;
  }
  .tagline {
    flex-shrink: 0;
    width: 35%;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 62.5em) {
  .content {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}
