.html {
  font-size: 100%;
}

.body {
  composes: on-grey from '../../traits/colors.css';
  composes: sansserif from '../../traits/type.css';
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 20em;
  font-size: 1rem;
}

@media screen and (min-width: 31.25em) {
  .html {
    font-size: 110%;
  }
}

@media screen and (min-width: 62.5em) {
  .html {
    font-size: 120%;
  }
}
