.root {
  composes: on-dark from '../../traits/colors.css';
  composes: text-over-image from '../../traits/shadows.css';
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/layouts/Hero/running-girl.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  z-index: 0;
}

.top {
  composes: px-contain pt-1half from "../../traits/spacing.css";
}

.bottom {
  composes: px-contain pb-1 from "../../traits/spacing.css";
  position: relative;
  z-index: 10;
}

.heroText {
  composes: scale-sm max-length from '../../traits/type.css';
  composes: mb-1 from "../../traits/spacing.css";
}

.email {
  max-width: 24em;
}

@media screen and (max-width: 31.25em) {
  .top {
    position: relative;
    padding-bottom: 1.5rem;
  }
  .bottom {
    padding-top: 1.5rem;
    background-color: #fff;
    text-shadow: none;
  }
}

@media screen and (min-width: 31.25em) {
  .root {
    padding-top: .75rem;
    padding-bottom: 1.5rem;
    position: relative;
  }
  .bottom {
    color: #fff;
  }
}

@media screen and (min-width: 62.5em) {
  .root {
    padding-bottom: 5rem;
  }
}
