.root {
  composes: on-dark from '../../traits/colors.css';
  composes: text-over-image from '../../traits/shadows.css';
  background-image: url('/layouts/Hero/running-girl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.top {
  composes: px-contain pb-2 pt-4 from "../../traits/spacing.css";
  display: flex;
  justify-content: flex-start;
}

.top > * {
  flex-shrink: 0;
}

.charityLogo {
  composes: ml-1 from "../../traits/spacing.css";
  width: 35%;
  min-width: 90px;
  max-width: 160px;
}

.bottom {
  composes: px-contain pb-1 from "../../traits/spacing.css";
  position: relative;
  z-index: 10;
}

.heroText {
  composes: scale-sm max-length from '../../traits/type.css';
  composes: mb-1 from "../../traits/spacing.css";
}

.register {
  max-width: 24em;
}

.registerButton {
  composes: px-1 py-quarter from "../../traits/spacing.css";
  composes: bold uppercase from "../../traits/type.css";
  composes: light on-primary from "../../traits/colors.css";
  composes: darken-bg-interaction from "../../traits/shadows.css";
  display: inline-block;
  transition: .25s all ease-out;
}

@media screen and (max-width: 31.25em) {
  .top {
    position: relative;
  }
  .bottom {
    padding-top: 1.5rem;
    background-color: #fff;
    text-shadow: none;
  }
}

@media screen and (min-width: 31.25em) {
  .root {
    padding: 0;
    position: relative;
  }
  .top {
    padding-bottom: 1.5rem;
  }
  .bottom {
    color: #fff;
    padding-bottom: 3rem;
  }
}
