.root {
  composes: px-contain my-2 from '../../traits/spacing.css';
}

.title {
  composes: scale-xxl uppercase from '../../traits/type.css';
  composes: mb-1 from '../../traits/spacing.css';
}

.body {
  display: flex;
  flex-wrap: wrap;
}

.content {
  composes: max-length from '../../traits/type.css';
}

.image {
  max-width: 12.5rem;
  margin: 0 auto;
}

.aboutBold {
  composes: bold from '../../traits/type.css';
}

.text {
  composes: mb-1 from '../../traits/spacing.css';
}

@media screen and (min-width: 46.875em) {
  .root {
    flex-wrap: nowrap;
  }
  .content {
    padding-right: 1.5rem;
    width: 65%;
  }
  .image {
    margin-right: 0;
  }
}
