.root {
  composes: px-contain py-3 from '../../traits/spacing.css';
  background-image: url(/layouts/HowItWorks/igrtw-world-simple.png);
  background-repeat: no-repeat;
  background-position: -40rem center;
  text-align: center;
}

.intro {
  composes: align-center max-length from '../../traits/type.css';
  composes: mb-1 from '../../traits/spacing.css';
  text-shadow: 0 0 20px rgba(255,255,255,1);
  margin-left: auto;
  margin-right: auto;
}

.eventLink {
  composes: px-1 py-quarter from "../../traits/spacing.css";
  composes: scale-xl bold uppercase from "../../traits/type.css";
  composes: light on-primary from "../../traits/colors.css";
  composes: darken-bg-interaction from "../../traits/shadows.css";
  display: inline-block;
  transition: .25s all ease-out;
}
