.root {
  composes: px-contain py-2 from '../../traits/spacing.css';
  composes: dark on-light from '../../traits/colors.css';
  composes: scale-sm from '../../traits/type.css';
}

.footerContainer {
  text-align: center;
  flex-shrink: 1;
}

.edh {
  composes: mb-half from '../../traits/spacing.css';
  font-style: italic;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.edhLogo {
  composes: px-half from '../../traits/spacing.css';
  max-width: 12rem;
  width: 300px;
  height: 54px;
}

.footerListItem {
  composes: px-half from '../../traits/spacing.css';
  composes: uppercase from '../../traits/type.css';
  text-decoration: none;
  display: inline-block;
}

.link:hover,
.link:focus {
  opacity: .75;
}

.link:active {
  opacity: .5;
}
