.root {
  composes: px-contain py-2 from '../../traits/spacing.css';
  composes: light on-dark from '../../traits/colors.css';
  composes: scale-sm from '../../traits/type.css';
}

.footerContainer {
  text-align: center;
}

.edh {
  composes: mb-half from '../../traits/spacing.css';
  font-style: italic;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.edhLogo {
  composes: ml-half from '../../traits/spacing.css';
}

.footerListItem {
  composes: px-half from '../../traits/spacing.css';
  text-decoration: none;
  display: inline-block;
}

.footerListItem:first-child {
  border-right: 2px solid #fff;
}
